<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="EngineIp" value="127.0.0.1"/>
    <add key="EnginePort" value="1000"/>
    <add key="TemplateDirectory" value="C:\Projects\Virtual\Templates\DistanceTracker"/>
    <add key="HeadshotDirectory" value="C:\Projects\Graphics\Headshots\Golf\TGA"/>
    <add key="CalibrationFile_5" value="C:\Projects\Virtual\Calibration\EWWS 4-2-2013\WWOSTest_1_1x_cal.txt"/>
    <add key="CalibrationFile_14" value="C:\Projects\Virtual\Calibration\EWWS 4-2-2013\WWOSTest_1_1x_cal.txt"/>
    <add key="CalibrationFile_17" value="C:\Projects\Virtual\Calibration\EWWS 4-2-2013\WWOSTest_1_1x_cal.txt"/>
    <add key="TelemetryFile_5" value="C:\Projects\Virtual\Calibration\EWWS 4-2-2013\WWOS_TelemetryDLLVariables.txt"/>
    <add key="TelemetryFile_14" value="C:\Projects\Virtual\Calibration\EWWS 4-2-2013\WWOS_TelemetryDLLVariablesl.txt"/>
    <add key="TelemetryFile_17" value="C:\Projects\Virtual\Calibration\EWWS 4-2-2013\WWOS_TelemetryDLLVariables.txt"/>
  </appSettings>

  <connectionStrings>
    <add name="MySqlStatsDb" connectionString="Server=ec2-23-20-214-225.compute-1.amazonaws.com;Database=golfscoring_ids;UID=root;PWD=espn;PORT=3306" />
  </connectionStrings>
  
</configuration>